gutenberg_dutch_stego_any.csv
gutenberg_dutch_stego_verb.csv
gutenberg_dutch_stego_noun.csv
gutenberg_dutch.csv
gutenberg_dutch_stego.csv
synonyms.tsv

oude_fixes_huidige_versie/
__pycache__/
oude_fixes_werkende_nietgoed/
oudeversie/
oudeversie2/
oudeversie3/
oude_laatste/
out_results/
out_syn_pos_sanitized2/
out_syn_pos2/
out_syn_sanitized_any/
out_syn2/
tijdelijk/
venv/
.venv/
env/
ENV/
